@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.images {
  position: relative;
}

.panel {
  position: absolute;
  display: none;
}

.panel:target {
  display: block;
}

.tabs li{
  display: inline-block;
}

.tabs a {
  display: inline-block;
  background-color: #fff;
  border-radius: 100px;
  border: solid black 5px;
  height: 1.3em;
  width: 1.3em;
}

.tabs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  bottom: 710;
  left: 210;
}

.tabs a:hover {
  background-color: #000;
  color: #fff;
}
